/* user profile applications/controls CSS
 * $Id: user.css 696 2011-02-07 02:53:44Z efraim.feinstein $
 */
@namespace xf url("http://www.w3.org/2002/xforms");

/* formatting rule for all XForms controls elements within a block form.  Each input control is on a separate line */
.block-form .xforms-input,
.block-form .xforms-secret {
     display: block;
     margin: 1ex;
     clear:right;
     padding-top:0.5ex;	/* leave lots of space*/
     padding-bottom:0.5ex;	/* leave lots of space*/
}
 
/* formatting rule for all labels in a block form */
.block-form .xforms-label {
    display: inline-block;
    width: 30ex; /* fix the width of all the labels in the block form */
    height: 3ex;	/* leave enough room for 2 lines of text in the label */
    float: left;
    text-align: right;
    margin-right: 1ex; /* margin to the right of the label */
}

.block-form .xforms-submit .xforms-label {
	width:auto;
	text-align:center;
	float:right;
}
