[submodule "lib/exist"]
	path = lib/exist
	url = https://github.com/opensiddur/exist.git
    branch = opensiddur-eXist-4.5.0
[submodule "lib/tei/Roma"]
	path = lib/tei/Roma
	url = https://github.com/opensiddur/Roma.git
[submodule "lib/tei/Stylesheets"]
	path = lib/tei/Stylesheets
	url = https://github.com/opensiddur/Stylesheets.git
[submodule "lib/hebmorph-exist"]
	path = lib/hebmorph-exist
	url = https://github.com/opensiddur/hebmorph-exist.git
    branch = 2.1.x
