[submodule "lib/hebmorph"]
	path = lib/hebmorph
	url = git://github.com/EfraimFeinstein/HebMorph.git
[submodule "lib/aloha"]
	path = lib/aloha
	url = https://github.com/alohaeditor/Aloha-Editor.git
[submodule "lib/xquerydoc"]
	path = lib/xquerydoc
	url = git://github.com/xquery/xquerydoc.git
