body
{
    background-color: #999999;
}
.page
{
    background-color: white;
    margin: 1em 0;
    padding: 1em;
}
.text
{
    border: solid 1px #00FFFF;
}
.misplaced
{
    border: solid 2px #FF0000;
}