/* site-wide CSS
 * $Id: site.css 727 2011-04-05 04:25:58Z efraim.feinstein $
 */

body, html {
  margin:0;
  padding:0;
  z-index:0;
}

/* generic CSS defaults for XForms elements */
.xforms-control,
.control {
	display:block;
}
/*
span.xforms-control span {
	display:inline-block; 
	white-space:nowrap;
}
*/

.xforms-input .xforms-label,
.xforms-secret .xforms-label,
.xforms-output .xforms-label,
.xforms-textarea .xforms-label,
.xforms-select1 .xforms-label { 
	display:inline-block; 
	width:30ex; 
	text-align:right; 
	margin-right:1em;
}

.xforms-select1 .xforms-value {
	display:inline-block;
	text-align:left;
	vertical-align:top;
}
/*
.xforms-input, 
.xforms-select1, 
.xforms-textarea, 
.xforms-output {
	display:block;
}
*/

/* read only buttons are disabled */
.xforms-trigger .xforms-readonly button {
	border: 2px outset ButtonFace;
  color: GrayText;
  cursor: inherit;
}

/* minimal appearance for a group = inline */
.xforms-group .xforms-appearance-minimal .xforms-control,
.inline-control .xforms-control {
	display:inline;
}

.inline-control .xforms-group {
	display:inline-block;
}

.inline-control .xforms-group .xforms-group-content {
	display:inline;
}
                                                     

.inline-control .xforms-label {
	padding-right:0.5em;
}

div#allContent {
  width:100%;
  margin:0 auto;
}


*[widgetid="control-login"] .xfControl {
	display:inline;
	width:30%;
}

/* main site layout */
div#logo-div {
	height:3.1em;
	clear:both;
	display:none;	/* to make Aharon happy until we're not in an iframe anymore */
}

img#logo {
	height:3em;
	width:auto;
	float:left;
}

#logo-text {
	font-weight:bold;
	font-size:0.8em;
	padding-left:2px;
	padding-right:2px;
	padding-top:0.7em;
	padding-bottom:0.7em;
	margin:0px;
}

/* sidebar login control */
#sidebar .control-login {
	width:96%;
	font-size:75%;
}

#sidebar .control-login .xforms-input,
#sidebar .control-login .xforms-secret {
	width:95%;
	font-size:75%;
	display:block;
}

#sidebar .control-login .xforms-input .xforms-label,
#sidebar .control-login .xforms-secret .xforms-label {
	text-align:left;
	width:95%;
}

#sidebar .control-login .xforms-input .xforms-value,
#sidebar .control-login .xforms-secret .xforms-value {
	display:block;
	width:15ex;
}

#sidebar .control-login .xforms-output,
#sidebar .control-login .control-login-as {
	display:inline;
}


#sidebar .error-report {
	width:95%;
	font-size:75%;
}

div#header {
  /*
  position:fixed;
  top:0;
  left:0;
  */
  float:top;
  clear:both;
  /*height:3.5em;*/
	width:100%;
  border-bottom:2px solid black;
}

h1#header-title {
  margin-right:0;
	font-family:sans-serif;
	font-size:14pt;
	/*line-height:100px;*/
	display:inline;
}

div#sidebar {
  float:left;
	width:10%;
	overflow-x:hidden;
  overflow-y:auto;
  padding-left:5px;
  padding-right:5px;
  border-right:1px solid gray;
  border-bottom:1px solid black;
}

div#sidebar ul {
  margin:0;
  padding:0;
  list-style:none;
}

div#sidebar li {
  margin:0;
  padding:0;
  margin-top:0.5ex;
  margin-bottom:0.5ex;
}

div#mainContent {
  float:left;
	width:87%;
  border-left:1px solid gray;
  padding:2px;
}

div#appHeader {
	float:left;
	width:87%;
	border:1px solid black;
	border-top:0;
}

div#footer {
  /*
  position:fixed;
  bottom:0;
  left:0;
  */
  height:3em;
  clear:both;
	width:100%;
  border-top:2px solid black;
  padding:5px;
}

/* navigation headers */
.nav-header {
	height:2.5em;
	float:left;
	border-bottom:2px solid black;
	width:100%;
	display:inline-block;
	vertical-align:middle;
}


.nav-header ul {
	display:inline;
	float:left;
	list-style-type: none;
	height:2em;
	padding:0;
	margin:0;
}

.nav-header li {
	margin-left:3em;
	margin-right:3em;
	display: inline;
}

.nav-header .nav-active {
	border:2px solid black;
	background-color:yellow;
} 

.nav-header .save-status {
	height:2.5em;
	float:right;
	display:inline-block;
	vertical-align:middle;
}

.nav-header .save-status .xforms-control {
	display:inline;
}

.nav-header .nav-buttons {
	display:inline-block;
}

.nav-header .nav-buttons .xforms-trigger {
	display:inline;
}

/* repeat control */
.repeat-buttons {
	display:inline-block;
}

.repeat-buttons .xforms-control {
	display:inline;
	padding:0;
	margin:0;
}

.repeat-buttons .repeat-button {
	display:inline;
	padding:0;
	margin:0;
}

/* dialog controls */
.dialog {
  background:white;
  position:fixed;
  z-index:100;
  left:38%;
  top:38%;
  height:25%;
  width:25%;
  padding:1em;
  overflow:auto;
  border-width:2px;
  border-style:solid;
}

.dialog-buttons {
	display:inline-block;	
}

.dialog-buttons .xforms-control {
	display:inline;
	padding:1em;
}

.error-report,
.error {
  border:1px red;
  background-color:#FF6666;
  display:block;
}

.error-report .xforms-control,
.error-report .xforms-label {
	display:inline;
}

/* generic CSS to apply to block forms */
/*
.block-form {
	
}

.block-form .xforms-group {
	display:block;
	padding-top:1em;
	padding-bottom:1em;
	float:left;
	clear:right;
}

.block-form .xforms-input {
	padding-bottom:1em;	
}

.block-form .xforms-label {
	float:left;
	width:30ex;
	min-width:10ex;
}

.block-form .xforms-value {
	float:left;
	width:30ex;
}
*/
/* language selector */
/*
.language-selector {
	position:relative;	
}

.language-selector .xforms-label {
	font-size:75%;
	float:left;
	clear:right;
	height:1.2em;
}
                   
.language-selector .xforms-value {
	float:left;
	height:1.8em;
	width:12ex;
}
*/

/* string-input with language chooser */
.string-input-with-language {
	display:block;
	padding-top:1ex;
	padding-bottom:1ex;
	min-height:3ex;
	/*
	clear:both;
	
	*/
}

.string-input-with-language .xforms-label {
	float:left;
	width:30ex;
	text-align:right;
	margin-right:1em;
}

.string-input-with-language .language-selector {
	display:inline;
	float:left;
}

.string-input-with-language .language-selector .xforms-value{
	display:inline;
	float:left;
	width:12ex;
}

.string-input-with-language .xforms-input {
	float:left;
	display:inline;
}

.string-input-with-language .xforms-input .xforms-value {
	float:left;
	display:inline;
	width:60ex;
}

/* list tables */
table.list {
	border-width: 2px 2px 2px 2px;
	border-spacing: 0px;
	border-style: solid solid solid solid;
	border-color: gray gray gray gray;
	border-collapse: separate;
	background-color: white;
}
table.list th {
	border-width: 1px 1px 1px 1px;
	padding: 2px 2px 2px 2px;
	border-style: dotted dotted dotted dotted;
	border-color: gray gray gray gray;
	background-color: white;
	-moz-border-radius: 0px 0px 0px 0px;
	font-weight: bold;
}
table.list td {
	border-width: 1px 1px 1px 1px;
	padding: 2px 2px 2px 2px;
	border-style: dotted dotted dotted dotted;
	border-color: gray gray gray gray;
	background-color: white;
	-moz-border-radius: 0px 0px 0px 0px;
}

/* invalid controls */
.xfInvalid > .xfValue {
  background-color:#FF6666;
}

