/* style.css 
 * CSS for the Open Siddur Project muXHTML
 */

@font-face {
	font-family: 'BHebrewSR';
	src: url('/code/apps/compiler/resources/BHebrewSR.eot#') format('☺'), 
	     url('/code/apps/compiler/resources/EzraSILSR.ttf')  format('truetype'),
	     url('/code/apps/compiler/resources/BHebrewSR.woff') format('woff'); 
	}

:lang(he) {
	font-family:'BHebrewSR','Ezra SIL', 'Ezra SIL SR', 'SBL Hebrew', 'Cardo', 'Arial Unicode MS', 'Lucida Grande', serif;
}

.jx-joined-concurrent {
  display:inline;
}

.tei-ptr {
  display:inline;
}

.tei-ab .type-verse {
	display:inline;
}

.tei-biblStruct {
	display:block;
}

.tei-biblStruct * {
	display:inline;	
}

.tei-biblStruct .tei-title {
	font-style:italic;	
}

.type-credit * {
	display:inline;
}

.j-divineName {
	display:inline;
}

.tei-head {
	font-size:200%;
	font-weight:bold;
	display:block;
}

.tei-l {
	display:block;
	padding-top:0.25ex;
	padding-bottom:0.25ex;
}

.n-chapter {
	display:none;
}

.n-verse {
	display:inline;
	vertical-align:super;
	font-size:xx-small;	
}

.tei-lg {
	display:block;
	padding-top:0.5ex;
	padding-bottom:0.5ex;
}

.tei-name, .tei-orgname {
	display:inline;
}

.j-read {
	display:inline;
}

.tei-p {
	display:block;
	padding-top:0.25ex;
	padding-bottom:0.25ex;
}

.j-written {
	color:red;
	display:inline;
}

.tei-s {
	display:inline;
}

.tei-seg {
	display:inline;
}

.tei-pc {
	margin:0;
	padding:0;
}

.tei-pc .type-pe, .tei-pc .type-samekh {
	font-weight:bold;
}

.tei-w {
  display:inline;
}

/* title */
.tei-titlePage {
  border:1px solid black;
  font-size:500%;
  text-align:center;
}

.tei-title .type-main {
  font-weight:bold;
}

.tei-title .type-sub {
  font-weight:bold;
  font-size:70%;
}

.tei-docAuthor {
  font-size:50%;
}

.tei-docDate {
  font-size:25%;
}

.tei-imprint {
  font-size:25%;
  font-style:italic;
}
